:root{
  --carousel-slide-width: 75%;
  --carousel-button-size: 6vh;
  --carousel-button-margin: 5vw;
  --carousel-button-border-radius: 10px;
  --carousel-button-arrow-color: white;
  --carousel-button-color: rgba(200,200,200, 0.5);
  --carousel-dot-color-selected: var(--carousel-button-arrow-color);
  --carousel-dot-color-unselected: var(--carousel-button-color);

  --color-barilla-blue: rgba(57, 116, 208, 255);
  --color-barilla-blue-dark: rgba(47, 106, 198, 1);
  --color-barilla-black-transparent: rgba(0, 0, 20, 0.7);
  --color-barilla-yellow: rgba(222, 196, 137, 1);
  --color-barilla-yellow-dark: rgba(192, 166, 107, 1);
  --color-barilla-red: rgba(186, 0, 14, 1);
  --color-barilla-white: rgba(240, 239, 237, 1);

  --card-color: var(--color-barilla-blue);
  --card-color-pressed: var(--color-barilla-blue-dark);
  --card-border-radius: 1rem;

  --text-shadow: 3px 3px 5px rgba(0, 59, 151, 1), -3px -3px 5px rgba(107, 166, 255, 1);

  --card-shadows-inset: inset 0.6rem 0.6rem 0.5rem 0 rgba(0, 59, 151, 0.23),
                        inset -0.6rem -0.6rem 0.5rem 0 rgba(77, 136, 228, 1);
                        
  --card-shadows: -0.3rem -0.3rem 0.4rem 0 rgba(0, 59, 151, 0.3),
                  0.3rem 0.3rem 0.4rem 0 rgba(77, 136, 228, 0.8);

  --card-shadows-all-buttons:  inset -0.2rem -0.2rem 0.5rem 0 rgba(0, 59, 151, 0.3),
                               inset 0.2rem 0.2rem 0.5rem 0 rgba(77, 136, 228, 1),
                               -0.3rem -0.3rem 0.4rem 0 rgba(0, 59, 151, 0.3),
                               0.3rem 0.3rem 0.4rem 0 rgba(77, 136, 228, 0.8);             
                             
  --card-shadows-all-buttons-active:  inset 0.2rem 0.2rem 0.5rem 0 rgba(0, 59, 151, 0.3),
                                      inset -0.2rem -0.2rem 0.5rem 0 rgba(77, 136, 228, 1),
                                      0.3rem 0.3rem 0.4rem 0 rgba(0, 59, 151, 0.23),
                                      0.3rem 0.3rem 0.4rem 0 rgba(77, 136, 228, 0.8);      
                                    
                                    
  --card-shadows-all:  inset -0.4rem -0.4rem 0.5rem 0 rgba(77, 136, 228, 0.8),
                       inset 0.4rem 0.4rem 0.5rem 0 rgba(0, 59, 151, 0.3),
                       -0.4rem -0.4rem 0.5rem 0 rgba(77, 136, 228, 0.8),
                       0.4rem 0.4rem 0.5rem 0 rgba(0, 59, 151, 0.3); 
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  color: var(--color-barilla-white);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-barilla-blue);
  font-family: "Nunito Sans",sans-serif;
}

body > #__next {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding-top: 5vh;
}

button {
  cursor: pointer;
  border: none;
  user-select: none;
  outline: none;
}

#popup-root {
  z-index: 99;
}

.popup {
  cursor: auto;
  background: white;
  width: 70vmin;
  height: 40vh;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--color-barilla-blue);
  box-shadow: var(--card-shadows-inset);
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.popup-body {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 70% 30%;
  grid-template-columns: 100%;
}

.popup-body > .custom-image {
  margin: auto;
  transform: scale(2);
  border-radius: 50%;
  box-shadow: var(--card-shadows);
}

.popup-secondary-content {
  text-align: center;
  font-size: 300%;
}

.popup-secondary-content > p {
  text-shadow: var(--text-shadow);
  line-break: anywhere;
}

.popup-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-barilla-black-transparent);
  backdrop-filter: saturate(200%) blur(30px);
}

.custom-image-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--carousel-slide-width); /* Each slide covers --carousel-slide-with of the viewport */
}

.embla__viewport {
  cursor: grab;
  max-width: 70vw;
  overflow: hidden;
  background-color: var(--card-color);
  box-shadow: var(--card-shadows-inset);
  border-radius: var(--card-border-radius);
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__slide {
  flex: 0 0 100%;
}

.embla__prev {  
  border-radius: var(--carousel-button-border-radius);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  height: var(--carousel-button-size);
  width: var(--carousel-button-size);
  margin-left: var(--carousel-button-margin);
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--carousel-button-arrow-color);
  background: var(--card-color);
  box-shadow: var(--card-shadows-all-buttons);
}

.embla__next {  
  background: var(--card-color);
  box-shadow: var(--card-shadows-all-buttons);
  border-radius: var(--carousel-button-border-radius);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  height: var(--carousel-button-size);
  width: var(--carousel-button-size);
  margin-left: calc(100% - var(--carousel-button-size) - var(--carousel-button-margin));
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--carousel-button-arrow-color);
  transition: all 0.2s;
}

.embla__prev:active,
.embla__next:active {
  background: var(--card-color-pressed);
  box-shadow: var(--card-shadows-all-buttons-active);
}


.embla__prev:active > *,
.embla__next:active > * {
  transform: scale(0.8);
}

.embla__button__svg {
  transition: all 0.19s;
  height: calc(0.5 * var(--carousel-button-size));
  width: calc(0.5 * var(--carousel-button-size));
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: var(--carousel-dot-color-unselected);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: var(--carousel-dot-color-selected);
  opacity: 1;
}

#custom-images-outer-carousel {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 30%;
}

#custom-images-inner-carousel {
  width: 100%;
  height: 100%;
}

#custom-images-carousel-button-arrow-left {
  margin-right: 10%;
}

#allergens-icons-container {
  background-color: var(--card-color);
  box-shadow: var(--card-shadows-all);
  border-radius: var(--card-border-radius);
  overflow: scroll hidden;
  display: flex;
  justify-content: space-around;
  max-width: 80vw;
  height: 15%;
  padding-left: 1rem;
  margin: auto;
}

.allergen-icon {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: none;  
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: none;
}

.allergen-icon > .custom-image {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.custom-label-container {
  max-width: 90%;
  font-size: 2.7vmin;
  margin: auto;
}

.custom-label-title-container, 
.custom-label-ingredients-container,
.custom-label-nutritional-values-container {
  background-color: var(--card-color);
  box-shadow: var(--card-shadows-all);
  border-radius: var(--card-border-radius);
  min-height: 6vh;
  margin: 2vh 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.custom-label-values-strong {
  font-weight: bold;
}

.custom-label-title-container {
  padding: 3vh 0;
  grid-template-columns: 60%;
}

.custom-label-title-product-name {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-shadow: var(--text-shadow);
}

.custom-label-title-product-main-info {
  margin-top: 2vmin;  
  display: flex;
  justify-content: space-around;
}

.custom-label-title-product-main-info > * {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2vmin 0;
  background-color: var(--card-color);
  box-shadow: var(--card-shadows);
  border-radius: 2vmin;
  text-shadow: var(--text-shadow);
}

.custom-label-ingredients-container {
  display: flex;
  font-size: 4vmin;
  padding: 3vmin;
  text-shadow: var(--text-shadow);
}

.custom-label-ingredients-title {
  padding-right: 0.2rem;
}

.custom-label-nutritional-values-container {
  padding: 7vmin;
}

table {
  border-spacing: 0.4rem 3vmin;
  text-shadow: var(--text-shadow);
}